img{
  width:400px;
  height:300px;
  border-radius:2px;
  border-style: solid;
  border-color:blue;
}
#logo{
  width:100px;
  height:100px;
  border-radius:50%;
}
.card{
  margin-top:10px;
  background-image:radial-gradient(circle,#000000,#9a0eeb);
}
h1{
  font-family:"Kreon",serif;
}
h2{
  font-family:"Caveat",cursive;
}
h3{
  font-family: 'Bungee Inline', cursive;
  font-weight: 500;
  font-size:40px;
  color:white;
  margin-top:10px;
}
h4{
  background-color:black;
  color:blue;
 
}
figcaption{
  font-size:22px;
  color:white;
  text-align: center;
}
ol li{
margin-left:30%;
float:left;

}

