body{
  margin:0;
  width:100%;
  background-color:gray;
}


#logo{
  width: 50%;
  height:auto;
}
.jumbotron{
margin:auto;

  background-image:radial-gradient(circle,#f75515,#9a0eeb);
}
.jumbotron a{
  
  font-size:30px;
  font-family: 'Bungee Inline', cursive;
  background-color: black;
  width:100%;

}
.jumbotron a:hover{
  background-color:white;
}

img{
  width:100%;
}
#pocad{
  width:100%;
  font-family: 'Bungee Inline', cursive;
  font-weight: 500;
  font-size:75px;
  color:blue;
 
}
.footer{
  margin:auto;
display:flex;
justify-content: space-around;
background-image:radial-gradient(circle,#f75515,#9a0eeb);
font-size:30px;
color:blue;

}
#p-order{
  top:10%;
  left:10%;
}
#p-choices{
  top:10%;
  right:10%;
}
#p-choices,#p-order{
  font-family: 'Bungee Inline', cursive;
  font-weight: 400;
  font-size:30px;
  color:blue;
  
}
@media (max-width: 720px) {
  .jumbotron a {
    font-size:20px;
    display:block;
  }
  #pocad{
    font-size: 45px;
  }
}