body{
  margin:0;
  width:100%;
  background-color:gray;
}


#logo{
  width: 50%;
  height:auto;
}
.jumbotron{
margin:auto;

  background-image:radial-gradient(circle,#f75515,#9a0eeb);
}
.jumbotron a{
  
  font-size:30px;
  font-family: 'Bungee Inline', cursive;
  /* background-color: black; */
 

}
.jumbotron a:hover{
  background-color:white;
}

img{
  width:100%;
}
#pocad{
  width:100%;
  font-family: 'Bungee Inline', cursive;
  font-weight: 500;
  font-size:75px;
  color:blue;
 
}
.footr{

display:flex;
justify-content: space-around;
background-image:radial-gradient(circle,#f75515,#9a0eeb);
font-size:26px;
color:black;

}
#p-order{
  top:10%;
  left:10%;
}
#p-choices{
  top:10%;
  right:10%;
}
#p-choices,#p-order{
  font-family: 'Bungee Inline', cursive;
  font-weight: 400;
  font-size:30px;
  color:blue;
  
}
/* media query */
@media (max-width: 720px) {
  .jumbotron a {
    font-size:20px;
    display:block;
    margin-top:2px; 
    width:100%;
  }
  #pocad{
    font-size: 32px;
  
  }
  #logo{
    display: block;
  }
  #p-choices{
    top: 40%;
    right:40%;
    font-size:20px;
  }
  .footr{
    display:block;
    font-size: 14px;
    color:black;
  }
}